@family-heading : Roboto, sans-serif;;
@family-text : Open Sans, sans-serif;
@weight-bold : 700;
@color-background-default : #64dd17;
@color-background-dark : #76ff03;
@color-background-fallback : #76ff03;
@color-background-alert : #558b2f;
@color-background-button-cta : #c5e1a5;
@color-background-button-small-inverted : #7cb342;
@text-color-button-small-inverted : #64dd17;
@border-color-button-small-inverted : #64dd17;

