/* SourceCode Doc/ Info */
@color_white : #FFFFFF;
@color_black : #000000;
@color_neutral_20 : #222222;
@color_neutral_90 : #EEEEEE;
@color_blue_50 : #2196F3;
@color_blue_60 : #1E88E5;

@size_big : 12px;
@size_medium : 10px;;

@background_color_default : #2196F3;

@text_color_default : #FFFFFF;

@teaser_text_color : #2196F3;
@teaser_font_size : 12px;

